<form name="searchForm">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="query">Search Product</label>
        <input type="text" id="query" name="query"
               class="form-control"
               placeholder="Required"
               ng-model="query" required>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <label for="brandName">Brand Name</label>
        <input type="text" id="brandName" name="brandName"
               class="form-control"
               ng-model="brandName">
      </div>
    </div>

    <div class="col-md-1">
      <div class="form-group">
        <label for="numItems">Results</label>
        <input type="text" id="numItems" name="numItems"
               class="form-control"
               placeholder="10"
               ng-model="numItems">
      </div>
    </div>

    <div class="col-md-1">
      <div class="form-group">
        <label for="startAt">Start At</label>
        <input type="text" id="startAt" name="startAt"
               class="form-control"
               placeholder="0"
               ng-model="startAt">
      </div>
    </div>

    <div class="col-md-2">
      <label for="form_sort_by">Sort By</label>
      <select id="form_sort_by" name="sortBy"
              class="form-control"
              ng-model="sortBy"
              ng-init="sortBy = sortBy || sortCriteria[0].value"
              ng-options="criteria.value as criteria.display for criteria in sortCriteria">
        </option>
      </select>
    </div>

    <div class="col-md-1">
      <label></label>
      <div>
        <a ng-click="toggleHideAdvanced()">Hide Advanced</a>
      </div>
    </div>

    <div class="col-md-1">
      <label></label>
      <div>
        <button ng-click="submitForm(searchForm)" class="btn btn-primary">Add Products</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="pull-right">
    </div>
  </div>
</form>

<hr>

<!-- Loader directive. -->
<app-loader></app-loader>

<!-- Results table. -->
<div class="row">
  <table class="product-table table table-striped" ng-if="products" >
    <thead>
      <tr>
        <td>Product</td>
        <td>Brand Name</td>
        <td>Category</td>
        <td>Price</td>
        <td>MSRP</td>
        <td>Reviews</td>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="product in products">
        <td class="product-name">
          <img ng-src="{{ product.thumbnailImage }}" alt="Product Thumbnail">
          <span>{{ product.name }}</span>
          <a target="_blank" href="{{ product.productUrl }}">
            <i class="fa fa-external-link"></i>
          </a>
        </td>

        <td class="product-brand">
          Brand Name
        </td>

        <td class="product-category">
          <span title="{{ product.categoryPath }}">
            {{ product.categoryPath | limitTo:50 }}
            {{ product.categoryPath.length > 50 ? '&hellip;' : '' }}
          </span>
        </td>

        <td class="product-price">
          {{ product.salePrice }}
        </td>

        <td class="product-msrp">
          <span ng-if="product.msrp">{{ product.msrp }}</span>
        </td>

        <td class="product-reviews">
          <span ng-if="product.numReviews">
            <app-rating-stars class="rating-stars"
              title="Rating: {{ product.customerRating }}"
              rating="{{ product.customerRating }}"></app-rating-stars>
            <span>({{ product.numReviews }})</span>
          </span>
        </td>
      </tr>
    </tbody>

  </table>
</div>
