<!-- Top input tools. -->
<form name="searchForm">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="query">Query</label>
        <input type="text" id="query" name="query"
               class="form-control"
               placeholder="Required"
               ng-model="form.query" required>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <label for="brandName">Brand Name</label>
        <input type="text" id="brandName" name="brandName"
               class="form-control"
               ng-model="form.brandName">
      </div>
    </div>

    <div ng-if="showAdvanced">
      <div class="col-md-1">
        <div class="form-group">
          <label for="numItems">Results</label>
          <input type="text" id="numItems" name="numItems"
                 class="form-control"
                 placeholder="10"
                 ng-model="form.numItems">
        </div>
      </div>

      <div class="col-md-1">
        <div class="form-group">
          <label for="startAt">Start At</label>
          <input type="text" id="startAt" name="startAt"
                 class="form-control"
                 placeholder="0"
                 ng-model="form.startAt">
        </div>
      </div>

      <div class="col-md-2">
        <label for="form_sort_by">Sort By</label>
        <select id="form_sort_by" name="sortBy"
                class="form-control"
                ng-model="form.sortBy"
                ng-init="form.sortBy = form.sortBy || sortCriteria[0].value"
                ng-options="criteria.value as criteria.display for criteria in sortCriteria">
          </option>
        </select>
      </div>
    </div>

    <div class="col-md-1">
      <label></label>
      <div>
        <a ng-click="toggleAdvanced()">
          <span ng-show="showAdvanced">Hide Advanced</span>
          <span ng-show="!showAdvanced">Show Advanced</span>
        </a>
      </div>
    </div>

    <div class="col-md-2">
      <label></label>
      <div>
        <button ng-click="submitForm(searchForm)" class="btn btn-primary btn-full">
          <i class="fa fa-shopping-basket"></i> Add Products
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="pull-right">
    </div>
  </div>
</form>

<hr>

<!-- Loader directive. -->
<app-loader></app-loader>

<!-- Results table. -->
<div class="products" ng-if="products.length">
  <div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <input type="text" name="searchProducts" class="form-control"
             placeholder="Search products by name, brand, category, or price"
             ng-model="form.searchProducts">
    </div>
  </div>

  <!-- Pagination -->
  <div ng-if="pageMax > 1">
    <div class="col-md-4 page-count">
      <ul class="pagination">
        <li ng-class="{'disabled': pageNumber === 0}">
          <a ng-click="pageBack()" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-number" ng-repeat="i in getPageNumbers()"
            ng-class="{'active': pageNumber === i}">
          <a ng-click="setPage(i)">{{ $index + 1}}</a>
        </li>
        <li ng-class="{'disabled': pageNumber >= pageMax - 1}">
          <a ng-click="pageNext()" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-2 product-count">
      <span>{{ products.length }} total products</span>
    </div>
  </div>

  <!-- Results Count -->
  <div ng-if="pageMax < 2">
    <div class="col-md-6 product-count">
      <span>{{ filteredProducts.length }} of {{ products.length }} products</span>
    </div>
  </div>

  </div>

  <div class="row">
  <div class="col-md-12">
  <table class="product-table table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <td title="Order by product name">
          <a ng-click="setOrderCriteria('name')">Product</a>
          <app-order-caret criteria="name"></app-order-caret>
        </td>

        <td title="Order by brand name">
          <a ng-click="setOrderCriteria('brandName')">Brand Name</a>
          <app-order-caret criteria="brandName"></app-order-caret>
        </td>

        <td title="Order by category">
          <a ng-click="setOrderCriteria('categoryPath')">Category</a>
          <app-order-caret criteria="categoryPath"></app-order-caret>
        </td>

        <td title="Order by price">
          <a ng-click="setOrderCriteria('salePrice')">Price</a>
          <app-order-caret criteria="salePrice"></app-order-caret>
        </td>

        <td title="Manufacturer's suggested retail price">
          <a ng-click="setOrderCriteria('msrp')">MSRP</a>
          <app-order-caret criteria="msrp"></app-order-caret>
        </td>

        <td title="Order by customer ratings">
          <a ng-click="setOrderCriteria('customerRating')">Reviews</a>
          <app-order-caret criteria="customerRating"></app-order-caret>
        </td>

        <td title="Removes all items">
          <a ng-click="removeAllProducts()">Remove All</a>
        </td>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="product in filteredProducts = (products
          | orderBy: orderCriteria: orderReverse
          | startAt: pageOffset | filter:form.searchProducts
          | limitTo: resultsPerPage )">
        <td class="product-name">
          <div class="td-inline-image">
            <img ng-src="{{ ::product.thumbnailImage }}" alt="Product Thumbnail">
          </div>
          <div class="td-inline-text">
            <span title="{{ product.name }}">{{ ::product.name }}</span>
            <a target="_blank" href="{{ product.productUrl }}">
              <i class="fa fa-lg fa-external-link"></i>
            </a>
          </div>
        </td>

        <td class="product-brand">
          {{ ::product.brandName }}
        </td>

        <td class="product-category">
          <span title="{{ product.categoryPath }}">
            {{ ::product.categoryPath }}
          </span>
        </td>

        <td class="product-price">
          <span ng-if="product.salePrice">${{ ::product.salePrice }}</span>
        </td>

        <td class="product-msrp">
          <span ng-if="product.msrp">${{ ::product.msrp }}</span>
        </td>

        <td class="product-reviews">
          <span ng-if="product.numReviews">
            <app-rating-stars class="rating-stars"
              title="Rating: {{ ::product.customerRating }}"
              rating="{{ ::product.customerRating }}">
            </app-rating-stars>
            <span>({{ ::product.numReviews }})</span>
          </span>
        </td>

        <td class="product-remove text-center">
          <a ng-click="removeProduct(product)">
            <i class="fa fa-times"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
</div>
