/********************************************************************
* APP ALERTS: Currently uses bootstrap alerts for styling.
*********************************************************************/
.alerts {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 999;
  cursor: pointer;
  min-width: 250px;
}

.alerts .fa {
  margin-right: 5px;
}

/********************************************************************
* APP ALERTS ANIMATION
*********************************************************************/
.alerts.ng-enter {
  transition: 0.3s ease-in-out;
  opacity: 0;
}

.alerts.ng-enter.ng-enter-active {
  opacity: 1;
}

.alerts.ng-leave {
  transition: 0.3s ease-in-out;
  opacity: 1;
}

.alerts.ng-leave.ng-leave-active {
  opacity: 0;
}
