/********************************************************************
* GLOBAL STYLES
*********************************************************************/
.container {
  margin: 5% auto;
}

a {
  cursor: pointer;
}

.btn-full {
  width: 100%;
}

.td-inline-image,
.td-inline-text {
  display: inline-block;
  vertical-align: middle;
}

.td-inline-image {
  width: 20%;
}

.td-inline-text {
  width: 78%;
}

/********************************************************************
* APP LOADER
*********************************************************************/
.loader {
  margin: 60px auto;
  text-align: center;
}


/********************************************************************
* APP RATING STARS
*********************************************************************/
.fa-star,
.fa-star-half {
  color: #FFA518;
}

.fa-star-empty {
  color: #ddd;
}


/********************************************************************
* PRODUCT TABLE
*********************************************************************/
.products {
  margin-top: 30px;
}

.product-count {
  font-size: 20px;
  color: #999;
  text-align: right;
}

.product-table > thead > tr > td {
  font-weight: bold;
  min-width: 60px;
}

/* Override bootstrap's table vertical alignment. */
.product-table > tbody > tr > td {
  vertical-align: middle;
  font-size: 13px;
  max-width: 350px;
}

.product-name img {
  max-width: 60px;
}

.product-remove .fa {
  color: #EC4646;
  font-size: 1.4em;
}
