.container {
  margin: 5% auto;
}

a {
  cursor: pointer;
}

.loader {
  margin: 60px auto;
  text-align: center;
}

.fa-star,
.fa-star-half {
  color: #FFA518;
}

.fa-star-empty {
  color: #ddd;
}

.product-name img {
  max-width: 60px;
}

.product-table > thead > tr > td {
  font-weight: bold;
}

/* Override bootstrap's table vertical alignment. */
.product-table > tbody > tr > td {
  vertical-align: middle;
  font-size: 13px;
}
